@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-default {
    @apply transition-all duration-150 ease-in-out;
  }
  .border-color {
    @apply border-[#EBECF2] dark:border-[#EBECF2]/10;
  }
  .card {
    @apply bg-light dark:bg-dark-400 rounded-xl px-2 py-4 sm:p-4 border border-[#EDF2F7] hover:border-dark/10 dark:border-[#EBECF2]/10 relative;
  }
  .card::before {
    @apply content-[""] absolute bg-black inset-[-1px] rounded-xl z-[-1];
  }
  .card-title {
    @apply font-semibold text-lg;
  }
  .nav_link {
    @apply flex lg:justify-center px-2 group-hover/link:stroke-primary max-lg:group-hover/link:bg-primary/20;
  }
  .nav_link__container {
    @apply aspect-square w-12 grid place-items-center rounded-full lg:group-hover/link:bg-primary/20;
  }
  .nav_item_title {
    @apply lg:hidden;
  }
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0.1em;
  height: 0.1em;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background-color: transparent;
}

.card::before {
  mask-image: radial-gradient(#FFF, transparent);
  mask-position: 10px 10px;
  transition: mask-position 1s ease-in-out;
}
 
.card:hover {
  mask-position: right 10px bottom 10px;
}
